{% extends 'base.html.twig' %}

{% block title %}Pages{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-1">
            <table class="table table-borderless">
                <tbody>
                <h2>Pages</h2>
                {% for page in pages %}
                    <tr>
                        <td><a href="{{ path('page', {'uuid': page.uuid}) }}">{{ page.title }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-3">
            {{ page.french|raw }}
        </div>
        <div class="col-4">
            <div class="page" data-language="english" data-uuid="{{ page.uuid }}">
                {{ page.english|raw }}
            </div>
        </div>
        <div class="col-4">
            <div class="page" data-language="swedish" data-uuid="{{ page.uuid }}">
                {{ page.swedish|raw }}
            </div>
        </div>
    </div>
{% endblock %}