{% extends 'base.html.twig' %}

{% block title %}Strings{% endblock %}

{% block body %}
    <h2>Strings</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>French</th>
                <th>English</th>
                <th>Swedish</th>
            </tr>
        </thead>
        <tbody>
            {% for translation in translations %}
                <tr>
                    <td>{{ translation.stringId }}</td>
                    <td style="width:33%; word-break: break-word">{{ translation.french }}</td>
                    <td {% if translation.french == translation.english %}class="untranslated" {% endif %}style="width:33%">
                        <textarea class="form-control string-translation" data-language="english" data-uuid="{{ translation.uuid }}">{{ translation.english }}</textarea>
                    </td>
                    <td {% if translation.french == translation.swedish or translation.swedish == '' %}class="untranslated" {% endif %}style="width:33%">
                        <textarea class="form-control string-translation" data-language="swedish" data-uuid="{{ translation.uuid }}">{{ translation.swedish }}</textarea>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
